
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



header {
    width: 100%;
    height: 60px;
    background-color: black;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
     
}


h1{
    color: white;
    padding: 5px;
    
}

.headerDiv{
    
    display: flex;
    flex-direction: row;
    padding-right: 10px; 
    margin-right: 10px;
    align-items: center;
    font-size: 25px;
    
}

#productCounter {
    padding: 10px;
}

main{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    
}


#mainBody{
    
   display: inline-block;
}