
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
}

body {
    text-decoration: none;
}
.pI{
    height: 250px;
    object-fit: cover;
}

.headerBox {
    width: 100%;
    height: 70px;
    background-color: #212121;
    display: flex;
    flex-direction: row;
    color:#FFFFFF;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    top: 0; 
    text-decoration: none;
       
}

a:hover 
{
     color:#FFFFFF; 
     text-decoration:none; 
     cursor:pointer;  
}

h1{
    color::#FFFFFF; 
    padding: 5px;   
}

.headerDiv{
    
    display: flex;
    flex-direction: row;
    padding-right: 10px; 
    margin-right: 10px;
    align-items: center;
    font-size: 25px;   
}

#productCounter {
    padding: 10px;
}

main{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
    margin-top: 120px;
}

#mainBody{
   display: inline-block;
}

a{
    color: #FFFFFF; 
    text-decoration: none;
}

#bBtn{
margin-bottom: 80;
}

.main-pageProduct-container {
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;   
}

.card{
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    width: 250px;
    height: 400px;
    margin: 10px;
    border: 3px solid #5596F5;
    border-radius: 10%
  }

.shopping-button {
    width: 230px;
    height: 40px;
    padding: 5px;
    margin-bottom: 70px;
    border: none;
    border-radius: 5px;
  }

button span {
      margin: 5px;
  }

.delete-button {
      width: 150px;
      height: 40px;
      border: none;
      border-radius: 5px;
  }
  
.delete-button span {
    margin: 5px;
}

.completePuchase-button {
    width: 180px;
    height: 40px;
    margin: 30px;
    border: none;
    border-radius: 5px;
}

@media only screen and (max-width: 480px) {
    .card{
        width: 150px;
        height: 400px;
        margin: 10px;
        border: 3px solid  #5596F5;
        border-radius: 10%;
        display: flex;
        flex-direction: row;
      }
    .delete-button {
        width: 100px;
        height: 40px;
        border: none;
        border-radius: 5px;
    }
    
    .delete-button span {
      margin: 5px;
  }

 
}

